.git/
.idea/
.vs/
idea

*.meta

Server/venv/
Server/templates/
Server/static/
Server/__pycache__/

/Assets/*
!/Assets/Scripts
!/Assets/Scenes

Logs/
Library/

obj/
Packages/
ProjectSettings/
Temp/
UserSettings/

.vsconfig
*.csproj
